@import "./style/reset.scss";
@import "./style/colors.scss";
@import "./style/panel.scss";
@import "./ui-widgets/all.scss";

.vpn-icon {
  color: #fff;
  font-size: 1.5rem;
  border: 1px solid #fff;
}

// Remember: the defwindow name creates a class with that name that is applied to the window
.quote {
  background: rgba(0, 0, 0, 0);
}

.quote-text {
  color: #ddd;
  font-size: 1rem;
  background: rgba(0, 0, 0, .5);
  padding: 0 16px;
}
