window {
  background-color: rgba(0, 0, 0, 0);
}

.root {
  font-size: 14px;
  font-family: IosevkaNerdFont;
}

.panel {
  background: $background;
  color: #fff;
  padding: 0;
  margin: 0;
}

label {
  font-weight: 700;
}

.cpu, .gpu, .ram, .disk {
  padding: 0 0.5em;
}

.cpu {
  background: $cpu;
  color: #fff;
}

.gpu {
  background: $gpu;
  color: #fff;
}

.ram {
  background: $ram;
  color: #fff;
}

.disk {
  background: $disk;
  color: #fff;
}

.time {
  padding: 0 1em;
  margin-left: 1em;
  font-size: 1em;
}

circular-progress {
  background-color: black;
  color: white;
  padding: 0 0.25em;

  .icon {
    font-size: 1.10em;
  }
}

button {
  border: 1px solid $gray;
  border-radius: 50%;

  &:hover {
    background: $background;
  }
}

scale {
  min-width: 8em;

  slider {
    min-height: 10px;
    min-width: 10px;
    margin: -5px;
  }
}

.slider {
  margin: 0 0.5em;
  padding: 0 0.5em;
}

.slider .icon {
  margin-right: 0.5em;
  font-size: 1.5em;
}

.network {
  all: unset;

  .dummy {
    font-size: 5px;
  }

  label {
    all: unset;
    font-size: 1.4em;
  }
}

.dummy {
  font-size: 5px;
}

.rec-icon {
  color: red;
  font-size: 2em;
  animation: blinker 1s linear infinite;
  margin: 0 0.25em 0 0.5em;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.workspace {
  margin: 0 0.5em;
}

.workspace.active {
  color: red;
}
