$default-border-radius: 0.25rem;

.root {
  background: $background;
  color: #fff;
  font-size: 16px;
  font-family: FiraMonoNerdFont;
  padding: 0.25rem 0.5rem;
}

.cpu-info {
  background: $cpu;
  padding: 0.2rem;
  border-radius: 1.5rem;
}

.gpu {
  background: $gpu;
  padding: 0.2rem;
  border-radius: 1.5rem;
}

.ram {
  background: $ram;
  padding: 0.2rem;
  border-radius: 50%;
}

.disk {
  background: $disk;
  padding: 0.2rem;
  border-radius: 50%;
}

.time {
  background: $gray;
  padding: 0.1rem 1rem;
  border-radius: $default-border-radius;
  margin-left: 0.5rem;
}

.network {
  margin: 0.1rem;
}

circular-progress {
  background-color: black;
  color: white;
  padding: 0 0.25rem;

  .icon {
    font-size: 1.10rem;
  }
}

button {
  border: 1px solid $gray;
  border-radius: 50%;

  &:hover {
    background: $background;
  }
}

scale {
  min-height: 0.25rem;
  min-width: 8rem;
}

.slider {
  background: $gray;
  border-radius: $default-border-radius;
  margin: 0 0.5rem;
  padding: 0 0.5rem;
}

.slider .icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.rec-icon {
  color: red;
  font-size: 2em;
  animation: blinker 1s linear infinite;
  margin: 0 0.25em 0 0.5em;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
