@import "themes/gruvbox/gruvbox-dark-hard.rasi"

#window {
    width: 40%;
    padding: 2px;
}

#listview {
    border: 2px solid 0 0;
    padding: 4px;
    spacing: 8px;
    lines: 6;
}

#entry {
    expand: false;
    width: 10em;
}

#element {
    padding: 5px 5px;
}
