@import ".active-theme-symlink.rasi"

#prompt { enabled: false; }

#window {
  width: 30%;
}

#listview {
  border: 2px solid 0 0;
  padding: 4px;
  spacing: 8px;
  lines: 6;
}

#entry {
  width: 100%;
  expand: false;
}

#element {
  padding: 0.5em;
}
