@import ".active-theme-symlink.rasi"

* {
  scrollbar: true;
}

#prompt { enabled: false; }

#window {
  width: 40%;
  height: 35%;
  padding: 8px;
  children: [ verticalbox ];
}

#verticalbox {
  children:   [ entry, listview ];
}

#listview {
  border: 1px solid 0px 0px ;
  scrollbar: @scrollbar;
}

scrollbar {
  width: 5px;
  height: 10px;
}

#entry {
  margin: 0.5em;
  expand: false;
  width: 100%;
}

#element {
  padding: 5px 5px;
}
