@import "themes/gruvbox/gruvbox-dark-hard.rasi"

* {
    scrollbar: true;
}

#prompt { 
    enabled: false;
}

window {
    width: 35%;
    height: 35%;
    padding: 10px;
    border: 1px;
}

listview {
    spacing: 5px;
    lines: 10;
    scrollbar: @scrollbar;
}

inputbar {
    spacing: 7px;
    padding: 2px;
    children: [ prompt ];
}

scrollbar {
    width: 5px;
    height: 10px;
    padding: 2px;
}

#element {
    padding: 5px 5px;
}
