@import ".active-theme-symlink.rasi"

* {
    scrollbar: true;
}

entry { 
  enabled: false;
}

inputbar {
  margin: 0.5em;
  children: [prompt];
}

window {
  width: 35%;
  height: 35%;
  padding: 0.5em;
}

listview {
  spacing: 0.25em;
  lines: 10;
  scrollbar: @scrollbar;
}

scrollbar {
  width: 0.25em;
  height: 1em;
  padding: 0.1em;
}

#element {
  padding: 5px 5px;
}
