@import "themes/cityoftears/cityoftears.rasi"

window {
  width: 40%;
  padding: 1em;
}

listview {
  lines: 2;
  padding: 1.5em;
  spacing: 0.5em;
  layout: horizontal;
  expand: true;
}

inputbar {
  padding: 0.25em;
  children: [ prompt ];
}

scrollbar {
  enabled: false;
}
