@import "themes/gruvbox/gruvbox-dark-hard.rasi"

window {
    width: 40%;
    padding: 16px;
    border: 1px;
}

listview {
    lines: 2;
    padding: 20px;
    spacing: 5px;
    layout: vertical;
}

inputbar {
    spacing: 7px;
    padding: 2px;
    children: [ prompt ];
}

