@import "themes/gruvbox/gruvbox-dark-hard.rasi"

window {
    width: 600px;
    height: 6.5%;
    padding: 10;
    border: 1px;
}

listview {
    lines: 2;
    padding: 20px;
    spacing: 5px;
}

inputbar {
    spacing: 7px;
    padding: 2px;
    children: [ prompt, entry ];
}
